.Boton {
    align-items: center;
    background-color: #133E87;
    border-radius: 10px 10px 10px 10px;
    border: none;
    bottom: 24px;
    color: #CBDCEB;
    cursor: pointer;
    display: flex;
    font-size: 25px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    height: 44px;
    margin-left: 30px;
    justify-content: center;
    right: 24px;
    width: 130px;
}


